<ion-header>
  <ion-toolbar>
    <ion-title>student-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="student">
      <img src="{{ student.avatar }}"/>
      <ion-card-content>
        <ion-card-title>
          {{ student.fullName }}
        </ion-card-title>
        <p>
          {{ student.email }}
        </p>
      </ion-card-content>
    </ion-card-header>  
    <ion-list *ngIf="modules.length">
      <button ion-item *ngFor="let module of modules" (tap)="ShowModule(module.id)">
        <ion-icon name="clipboard" item-start></ion-icon>
        {{ module.name }}
      </button>  
    </ion-list>
  </ion-card>
  <ion-card *ngIf="moduleSelected">
    <ion-card-header>
      {{ moduleSelected.name }}
    </ion-card-header>  
    <ion-list>
      <ion-card *ngFor="let skill of moduleSelected.skills">
        <ion-card-header>
          {{ skill.name }}
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label>Validation formateur</ion-label>
            <ion-checkbox [(ngModel)]="skill.progression.teacherValue" (ionChange)="updateValidation(skill.progression.id, skill.progression.teacherValue)"></ion-checkbox>
          </ion-item>          
          <ion-item>
            <ion-label>Validation étudiante</ion-label>
            <ion-checkbox disabled="true" [(ngModel)]="skill.progression.studentValue"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card>   
    </ion-list>
  </ion-card>
</ion-content>
