<ion-content class="login-container" scroll="false">
  <div class = "col header text-center">
      <img src="assets/imgs/logo_skillnet.png" class="logo" />
  </div>
  <div class = "col button-row text-center">
    <ion-item>
      <ion-input [(ngModel)]="loginData.email" name="email" type="text" placeholder="email"></ion-input>
    </ion-item>
  </div>
  <div class = "col button-row text-center">
    <ion-item>
      <ion-input [(ngModel)]="loginData.password" name="password" type="password" placeholder="Password"></ion-input>
    </ion-item>
  </div>
  <div class = "col button-row text-center">
    <button ion-button block type="submit" color="--ion-color-secondary" (click)="doLogin()">Login</button>
  </div>
  <div class="col text-center"><p>Mot de passe oublié ? <strong><a href="#">Cliquez-ici !</a></strong></p>
  </div>           
</ion-content>
