

ion-content {
  background: #2E1166;
}

ion-item {
  background: white;
}

.login-container > .header {
  padding-top: 20px;
}

p {
  color: white;
  font-size: 15px
}

img {
  height: 45vh;
  width: auto;
  margin: auto;
  display: block;
}