

ion-content {
  background: #2E1166;
}

ion-item {
  background: white;
}

.login-container > header{
  padding-top: 20px;
}

img {
  height: 45vh;
  width: auto;
  margin: auto;
  display: block;
}

p{
  color: white;
}