<ion-content class="login-container" padding>
  <div class = "col header text-center">
      <img src="assets/imgs/logo_skillnet.png" class="logo" />
  </div>
  <form [formGroup]="loginForm" (submit)="doLogin()">
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Votre email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Votre mot de passe"></ion-input>
    </ion-item>
    <ion-button color="secondary" expand="full" type="submit">
      C'est parti !
    </ion-button>
  </form>
</ion-content>
