<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
      <ion-select style="position: absolute; right: 0; color: white;" #formationSelect (ionChange)="showFormation(formationSelect.value)" slot="end"> 
        <ion-select-option *ngFor="let formation of student.formations" [value]="formation">{{ formation.name }}</ion-select-option>
      </ion-select>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-grid>
     <ion-row justify-content-start>
      <ion-col size="4">
        <div>
            <img src="{{ formationSelected.logo }}">
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <h6>{{ formationSelected.name }}</h6>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="4" offset="4">
        <div>
          <ion-icon name="square" class="purple"></ion-icon>&nbsp;Etudiant
        </div>
      </ion-col>
    
      <ion-col size="4">
        <div>
          <ion-icon name="square" class="red"></ion-icon>&nbsp;Formateurs
        </div>
      </ion-col>
    </ion-row>-->
  </ion-grid>
  <h2 text-uppercase text-center>Modules</h2>
  <ion-slides *ngIf="formationSelected.modules.length">
    <ion-slide class="roundProgressBarWrapper slideImportant" *ngFor="let module of formationSelected.modules" (click)="showModule(module)">
      <ion-label class="moduleName">{{ module.name }}</ion-label>
      <round-progress class="roundProgressBarTeacher" [current]="module.progression.teacherValidations * 100/module.progression.skillsCount"
        [radius]="45" [color]="environment.progressColorTeacher" [max]="environment.progressMax" [stroke]="environment.progressStrokeTeacher"></round-progress>

    </ion-slide>
  </ion-slides>

  <ion-card *ngIf="formationSelected">
    <ion-img src="{{ formationSelected.logo }}"></ion-img>
  
    <ion-card-content>
      <ion-card-title>{{ formationSelected.name }}</ion-card-title>
  
      <ion-list *ngIf="formationSelected.modules.length">
        <ion-list-header>
          Modules de l'étudiant: 
        </ion-list-header>

        <ion-item>
          <ion-label>Sélectionner un module</ion-label>
          <ion-select #moduleSelect (ionChange)="showModule(moduleSelect.value)">
            <ion-select-option *ngFor="let module of formationSelected.modules" [value]="module">{{ module.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf="moduleSelected">
    <h3>Module: {{ moduleSelected.name }}</h3>
    <h6>Compétences: {{ moduleSelected.progression.skillsCount }}</h6>
    <h6>Validations du formateur: {{ moduleSelected.progression.teacherValidations }}</h6>
    <h6>Validations de l'étudiant: {{ moduleSelected.progression.studentValidations }}</h6>
    <div *ngIf="moduleSelected.skills.length">      
      <ion-list *ngFor="let skill of moduleSelected.skills">
        <ion-item>
          <ion-label>Compétences: {{ skill.name }}</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>Validation du formateur</ion-label>          
          <ion-checkbox color="light" [(ngModel)]="skill.progression.teacherValue" disabled="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Validation de l'étudiant</ion-label>
          <ion-checkbox color="light" [(ngModel)]="skill.progression.studentValue" (ionChange)="updateValidation(skill.progression.id, skill.progression.studentValue)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>  
</ion-content>
