<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="student">
    <ion-img src="{{ student.avatar }}"></ion-img>
  
    <ion-card-content>
      <ion-card-title>{{ student.fullName }}</ion-card-title>
  
      <ion-list *ngIf="student.formations.length">
        <ion-list-header>
          Formations de l'étudiant: 
        </ion-list-header>

        <ion-item>
          <ion-label>Sélectionner une formation</ion-label>
          <ion-select #formationSelect (ionChange)="showFormation(formationSelect.value)">
            <ion-select-option *ngFor="let formation of student.formations" [value]="formation">{{ formation.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="formationSelected">
    <ion-img src="{{ formationSelected.logo }}"></ion-img>
  
    <ion-card-content>
      <ion-card-title>{{ formationSelected.name }}</ion-card-title>
  
      <ion-list *ngIf="formationSelected.modules.length">
        <ion-list-header>
          Modules de l'étudiant: 
        </ion-list-header>

        <ion-item>
          <ion-label>Sélectionner un module</ion-label>
          <ion-select #moduleSelect (ionChange)="ShowModule(moduleSelect.value)">
            <ion-select-option *ngFor="let module of formationSelected.modules" [value]="module">{{ module.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf="moduleSelected">
    <h3>Module: {{ moduleSelected.name }}</h3>
    <h6>Compétences: {{ moduleSelected.progression.skillsCount }}</h6>
    <h6>Validations du formateur: {{ moduleSelected.progression.teacherValidations }}</h6>
    <h6>Validations de l'étudiant: {{ moduleSelected.progression.studentValidations }}</h6>
    <div *ngIf="moduleSelected.skills.length">      
      <ion-list *ngFor="let skill of moduleSelected.skills">
        <ion-item>
          <ion-label>Compétences: {{ skill.name }}</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>Validation du formateur</ion-label>          
          <ion-checkbox color="light" [(ngModel)]="skill.progression.teacherValue" disabled="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Validation de l'étudiant</ion-label>
          <ion-checkbox color="light" [(ngModel)]="skill.progression.studentValue" (ionChange)="updateValidation(skill.progression.id, skill.progression.studentValue)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>  
</ion-content>
