<ion-header>
  <ion-toolbar>
    <ion-title>report-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="report">
    <ion-card-header>
      {{ report.author.fullName }}
    </ion-card-header>  
    <ion-card-content>
      <ion-card>
        <ion-card-header>
          Rapport du: {{ report.date }}
        </ion-card-header>
        <ion-card-content>
          {{ report.text }}
        </ion-card-content>
      </ion-card>
    </ion-card-content>  
  </ion-card>
</ion-content>
