<ion-header>
  <ion-toolbar>
    <ion-title>plannings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list insert>
    <ion-card *ngIf="planning" class="cardShadows" >
      <ion-item (click)="openFile(planning.url)" item-content>
        <h2 item-start>{{ planning.name }}</h2>
        <ion-icon name="download" md="md-download" item-end></ion-icon>
      </ion-item>
      <ion-item item-content>
        <h4 item-start>{{ planning.updatedAt | date:"dd-MM-yyyy hh:mm" }}</h4>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
