<ion-header>
  <ion-toolbar>
    <ion-title>formations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="teacher">
    <ion-card>
      <ion-img src="{{ teacher.avatar }}"></ion-img>
    
      <ion-card-content>
        <ion-card-title>{{ teacher.fullName }}</ion-card-title>
    
        <p>Votre adresse électronique: {{ teacher.email }}</p>
        <p>Votre date de naissance: {{ teacher.birthDate }}</p>
      </ion-card-content>
    </ion-card>

    <div *ngIf="teacher.formations.length">
      <ion-card *ngFor="let formation of teacher.formations">
        <ion-img src="{{ formation.logo }}"></ion-img>
      
        <ion-card-content>
          <ion-card-title>{{ formation.name }}</ion-card-title>
          <ion-list *ngIf="formation.modules.length">
            <ion-list-header>
              Modules de la formations
            </ion-list-header>
            <ion-item *ngFor="let module of formation.modules">
              <ion-label>
                {{ module.name }}
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="formation.students.length">
            <ion-list-header>
              Etudiants de la formation: {{ formation.studentsCount }}
            </ion-list-header>
            <ion-item *ngFor="let student of formation.students" (click)="showStudentDashBoard(student.id, formation.id)">
              <ion-icon name="arrow-forward" item-end></ion-icon>
              <ion-avatar slot="start">
                <img src="{{ student.avatar }}">
              </ion-avatar>
              <ion-label>
                <h2>nom: {{ student.fullName }}</h2>
                <h3>mail: {{ student.email }}</h3>
                <p>validations formateur: {{ student.progression.teacherValidations }}</p>
                <p>validations étudiante: {{ student.progression.studentValidations }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
