<ion-header>
    <ion-toolbar class="bar bar-header bar-positive">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Formations</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="teacher">
        <div *ngIf="teacher.formations.length">
            <ion-card *ngFor="let formation of teacher.formations; let i=index">
                <ion-img src="{{ formation.logo }}" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}"></ion-img>
                <ion-card-content>
                    <ion-card-title>{{ formation.name }}</ion-card-title>
                    <ion-list *ngIf="formation.modules.length">
                    </ion-list>
                </ion-card-content>
                <ion-item>
                    <ion-icon name='people' slot="start" style="color: hsl(202, 52%, 56%)"></ion-icon>
                    <p clear small>Elèves</p>
                    <ion-badge clear slot="end">{{formation.studentsCount}}</ion-badge>
                </ion-item>
                <div>
                    <ion-list *ngIf="isGroupShown(i)">
                        <ion-item *ngFor="let student of formation.students" (click)="showStudentDashBoard(student.id, formation.id)">
                            <ion-card text-center>
                                <div text-center>
                                    <img src="{{ student.avatar }}">
                                </div>
                                <ion-label>
                                    <h2>nom: {{ student.fullName }}</h2>
                                    <h3>mail: {{ student.email }}</h3>
                                    <p>validations formateur: {{ student.progression.teacherValidations }}</p>
                                    <p>validations étudiante: {{ student.progression.studentValidations }}</p>
                                </ion-label>
                            </ion-card>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>